body{
  background-color:#C3EDC0;
}

h1{
  font-size: 4rem;
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #5C5470;
  align: center;
  margin: 50px;
}

p{
  font-size: 2rem;
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #5C5470;
}

.container{
  /* background-color: #C3EDC0; */
  text-align: center;
  margin: 135px;
  padding: 20px;

}

.userText{
  font-size: 1.5rem;
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #5C5470;
  margin: 10px;
}
